!!!
%html
  %head
    :css
      body { text-align:center;font-family:helvetica,arial;font-size:22px;
        color:#888;margin:20px}
      #c {margin:0 auto;width:500px;text-align:left}
        %body
    %h2 FAQtly doesn’t know.
    %img{:src => "http://localhost:9393/__sinatra__/404.png"}

