.top-bar
  %ul.login
    %li
      %a{:href => "http://www.ombushop.com/admin", :title => "Entrar"}
        Entrar
    %li
      %a.signup{:href => "http://www.ombushop.com/welcome#signup-form"} Probar Ahora

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
      %a.brand{:href => "/"} OmbuShop
.row
  .span8.offset4
    .tabbable.tabs-below
      %ul.nav.nav-tabs
        %li
          %a{href: '/questions/new'} Add a Question
        %li
          %a{href: '/about'} About
        %li
          %a{href: '/about'} Logout
        %li
          %a{href: '/about'} Logout
        %li
          %a{href: '/about'} Logout
        %li
          %a{href: '/about'} Logout


