.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav
        %li
          %a.brand{:href => "/"} Faqtly
        %li
          %a{href: '/about'} About          
        %li
          %a{href: '/questions/new'} Add a Question
      #search
        %form#search{action: "/questions/search"}
          %input#text{name: 'q', placeholder: 'Buscar...'}
          %button{style: 'display:none'}
            Submit


      


