.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %ul.nav
        %li
          %a.brand{:href => "/"} Faqtly
        %li
          %a{href: '/about'} About          
        %li
          %a{href: '/questions/new'} Add a Question
      %form#search{class: "navbar-search pull-right", action: "/questions/search"}
        %input#text{name: 'q', placeholder: 'Buscar...', class: "search-query span4",
                    value: @query}
        %button{style: 'display:none'}
          Submit


      


