%form{ action: '/tags', method: 'put', class: 'form-horizontal',  id: 'new-tags-form' }
  = partial :'tags/_form'
  .control-group.span9
    .controls.pull-right
      %button{ type: 'submit', class: 'btn btn-primary' }= t(:update)
