%form{ action: "/questions/#{@question.id}", method: 'post', class: 'form-horizontal',  id: 'new-questions-form' }
  %input{ type: 'hidden', name: '_method', value: "put" }
  %legend= t(:editing)
  = partial :'questions/_form'
  .control-group.span9
    .controls.pull-right
      %button{ type: 'submit', class: 'btn btn-primary' }= t(:update)