%form{ action: '/questions', method: 'post', class: 'form-horizontal',  id: 'new-questions-form' }
  %legend Adding a new question huh?
  = partial :'questions/_form'

  %button{ type: 'submit', class: 'btn btn-primary' } Create Question